.main {
  //   margin: auto;
  text-align: center;
  align-self: center;
  &__box1 {
    position: relative;
    margin-bottom: 2rem;
    &--icon {
      background: url("./../icons/cloudy-day-2.svg") no-repeat center center /
        contain;
      position: absolute;
      right: -25%;
      top: -40%;
      height: 11rem;
      width: 11rem;
    }
    &--paragraph {
      font-size: 1.9rem;
    }
  }
  &__box2 {
    display: flex;
    align-items: center;
    div {
      padding: 1rem;
    }
  }
  &__box3{
    display: flex;
    justify-content: stretch;
    min-height: 3rem;
    div {
      flex: 1;
      text-align: center;
      border-left: 1px solid $color-white-transparent;
      span{
        display: block;
        font-weight: 400;
        line-height: 3rem;
      }
    }
    &:last-child {
      border-right: 1px solid $color-white-transparent;
    }
  }
}
