.rightAside {
    margin: $main-margin;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    @include respons(tablet) {
        margin: 0;
        max-width: 100%
    }

    &__date {
        font-size: 2.8rem;
        margin-bottom: 5rem;
        text-align: center;
        @include respons(tablet) {
            display: none;
        }
    }

    &__forcast {
        background-color: $color-white-transparent;
        flex: 1;

        &--list {
            display: flex;
            justify-content: stretch;
            flex-direction: column;
            height: 100%;
            list-style-type: none;
            @include respons(tablet) {
                flex-direction: row;
                min-height: 25rem;
            }
            @include respons(phone) {
                min-height: 21rem;
            }

            &:last-child {
                border-bottom: 1px solid $color-white-transparent;
            }
        }

        &--listItem {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            border: 1px solid $color-white-transparent;
            border-bottom: none;
            padding: 1rem;
            flex: 1;
            flex-basis: 20%;
            @include respons(tablet) {
                text-align: center;
            }
        }

        &--day {
            font-weight: 400;
        }

        &--date {
            flex-basis: 30%;
            @include respons(phone) {
                flex-basis: 20%;
            }
        }

        &--icon > img {
            flex-grow: 1;
            width: 5rem;
            @include respons(phone) {
                width: 4rem;
            }
        }

        &--minMax {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;
        }
    }
}