.loading {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loading__image {
    margin: 1em;
}
.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}
.loading__bar {
    display: flex;
    align-items: center;
    width: 88px;
    height: 8px;
    background-color: $color-white;
    border-radius: 10px;
    overflow: hidden;
}
.loading__bar--status {
    width: 95%;
    height: 100%;
    background-color: rgba(0, 60, 103, 0.24);
    border-radius: 10px;
    animation: load 2s infinite linear;
}
@keyframes load {
    0% { transform: translateX(-100px) }
    100% { transform: translateX(100px) }
}
@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}