#weather-sections-wrapper {
  display: flex;
  justify-content: stretch;
  min-height: 100vh;

}

#right-side-wrapper {
  display: flex;
  justify-content: stretch;
  width: 100%;
  @include respons(tablet) {
    flex-direction: column;
  }
}
