$color-primary: rgba(56, 144, 207, 0.79);
$color-primary-light: #d5edff;
$color-primary-dark: #002947;
$color-white: #fff;
$color-transparent-black: rgba(0, 0, 0, 0.25);
$color-font-dark: rgba(0, 0, 0, 0.78);
$color-transparent-leftAside: rgba(255, 255, 255, 0.23);
$color-white-transparent: rgba(212, 237, 255, 0.2);
$color-light-blue: #6DA7D0;
$color-dark-blue: rgb(90, 139, 173);

$main-margin: 4rem;